body {
    background-color: #eee;
}

#something {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 80px;
}

#email {
    margin-top: 15px;
    margin-bottom: 10px;
}

#btn-submit {
 background-color: #FFD580;  
 width: 150px;
 height: 35px;
 border-radius: 3px;
 font-weight: bold;
}

.grid {
    display: flex;
}

.icon {
    display: flex;
    text-align: center;
    height: 100px;
    width: 100px;
    color: orange;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;     
} 

.products {
    margin-top: 3%;
}

#video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: inline-block;
    text-align: center;
    margin-top: 4%;  
}

.card-header {
    font-weight: 500;
}

#btn-select {
    background-color: #FFD580;  
    border-color: #FFD580;  ;
    color: black;
    border-radius: 3%;
    padding: 3%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 5%;
}

ul {
    list-style-type: none;
}

  footer > ul {
    display: flex;
    justify-content: flex-end; 
}

footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
}